.resume {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);

  width: 100%;
}

@media (max-width: 860px) {
  .resume {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media (max-width: 425px) {
  .resume {
    grid-template-columns: repeat(1, 1fr);
  }
}
