$color-accent: #fbf6d6;
$color-accent-hover: darken($color-accent, 10%);
$color-additional: #7a7868;
$color-additional-hover: darken($color-additional, 10%);

$color-yellow: #bab69e;
$color-yellow-hover: darken($color-yellow, 10%);

$color-white: #ffffff;
$color-white-hover: #fafafa;

$color-red: #e0dcbf;
$color-red-hover: darken($color-red, 10%);

$color-blue: #bbf5fa;
$color-blue-hover: darken($color-blue, 10%);

$color-gray: #3b3932;
$color-gray-hover: darken($color-gray, 10%);
