footer {
  background-color: $color-additional;
}

footer .footer__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);

  width: 90%;

  margin: auto;
}

footer img {
  height: 150px;
  width: auto;
  margin-left: 20px;
  padding: 15px 0;
}
